version: '3.8'

services:
  solr:
    build:
      context: ./solr
    container_name: nbsearch-solr
    ports:
      - "8983:8983"
    volumes:
      - solr_data:/var/solr

  minio:
    image: minio/minio:latest
    container_name: nbsearch-minio
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    environment:
      - MINIO_ROOT_USER=nbsearchak
      - MINIO_ROOT_PASSWORD=nbsearchsk
    command: server /data --console-address ":9001"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  solr_data:
  minio_data:
