/*
    See the JupyterLab Developer Guide for useful CSS Patterns:

    https://jupyterlab.readthedocs.io/en/stable/developer/css.html
*/

.nbsearch-cell-candidate {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 100;
    width: 100%;
}

.nbsearch-cell-candidate > div > div {
    margin: 32px;
}

.nbsearch-cell-candidate pre {
    /* https://stackoverflow.com/questions/248011/how-do-i-wrap-text-in-a-pre-tag */
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
